
.node-container {
    background: #ffffff;
    border: 1px solid black;
    border-radius: 6px;

    padding: 10px;
    font-size: 13px;
    min-width: 180px;

    position: relative;

}

.node-header {
    font-weight: 600;
    margin-bottom: 6px;
}

.node-body {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* React Flow handle styling */
.react-flow__handle {
    width: 15px;
    height: 15px;
    background: #555;
    border-radius: 50%;
}

/* Push handles to edges */
.react-flow__handle-left {
    left: -5px;
}

.react-flow__handle-right {
    right: -5px;
}

.react-flow__handle {
  z-index: 10;
}


/* styling for selected state using react flow */
.react-flow__node.selected .node-container {
  border-color: #2563eb;
}
